input{
    border:none;
    border-bottom:1px solid #b4b4b4;
    background-color: transparent;

    padding:5px 10px;
    font-size:1em;
    line-height: 1em;
    color:#b4b4b4;
}

.detail-inputs{
    margin: 20px;
    display: flex;
    color:#b4b4b4;
    align-items: center;
}

.detail-inputs div{
    margin-right:20px;
}

.detail-inputs input:focus{
    color:#b4b4b4;
    outline: none;
}

