.search-filter{
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    color:#b4b4b4;
    align-items: center;
}

.checkboxes{
    display: flex;
}

hr.dashed{
    margin-top: 50px;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background:transparent;
}

@media screen and (max-width: 400px) {
    .search-filter{
        flex-direction: column;
    }

    .checkboxes{
        margin-top:10px;
    }
}


.search-input{
    border:none;
    border-bottom:1px solid #b4b4b4;
    background-color: transparent;
}

.search-input:focus{
    color:#b4b4b4;
    outline: none;
}


.search-filter input{
    padding:5px 10px;
    font-size:1em;
    line-height: 1em;
    color:#b4b4b4;
}

.search-filter div{
   margin-right:10px;
}

