.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.reset a {
  color: #222;
  font-size: 0.8em;
}

.login-form {
  background: #222;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
  margin-top: 1.2em;
  color: #fff;
  transition: all 1s ease-in;
}

.login-form button {
  background: #dd403a;
  border: 0;
  border-radius: 3px;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  margin-top: 20px;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}

.login-form button:hover {
  transform: scale(1.02);
}

.login-form button:active {
  transform: scale(0.99);
}

.input-wrap {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgba(255, 252, 232, 0.1);
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.input-wrap input {
  outline: none;
  border: 0;
  color: #ccc;
  background: transparent;
  flex: 1 0 auto;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}

.input-wrap input:focus {
  opacity: 1;
}

.warning {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  vertical-align: text-bottom;
}

.warning .msg {
  display: inline-block;
  line-height: 25px;
  vertical-align: text-bottom;
  margin-left: 5px;
}

/* DETAILS BOX */

.detailsBox .inner {
  padding: 20px;
  background-color: #2b2b2b;
}

.detailsBox .inner h2 {
  padding-top: 0;
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.detailsBox .inner .week {
  color: #666666;
  border-bottom: 2px solid #333;
}

.details-header {
  display: flex;
  justify-content: space-between;
}

.close-details {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.btn {
  background: #666666;
  border: 0;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items:center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  text-decoration: none;
}

a.btn{
  margin-right:10px;
}

.btn:hover {
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.99);
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav-link {
  padding: 5px 9px 5px 11px;
  background-color: rgb(102, 194, 121);
  display: inline-block;
  margin-left: 15px;
}
