.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
}

.reset a {
  color: #222;
  font-size: 0.8em;
}

.login-form {
  background: #222;
  border-radius: 4px;
  padding: 20px;
  width: 250px;
  margin-top: 1.2em;
  color: #fff;
  transition: all 1s ease-in;
}

.login-form button {
  background: #dd403a;
  border: 0;
  border-radius: 3px;
  color: white;
  display: flex;
  font-size: 13px;
  font-weight: 500;
  justify-content: center;
  margin-top: 20px;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  width: 100%;
}

.login-form button:hover {
  transform: scale(1.02);
}

.login-form button:active {
  transform: scale(0.99);
}

.input-wrap {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid rgba(255, 252, 232, 0.1);
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.input-wrap input {
  outline: none;
  border: 0;
  color: #ccc;
  background: transparent;
  flex: 1 0 auto;
  font-size: 16px;
  font-weight: 300;
  opacity: 0.5;
}

.input-wrap input:focus {
  opacity: 1;
}

.warning {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  vertical-align: text-bottom;
}

.warning .msg {
  display: inline-block;
  line-height: 25px;
  vertical-align: text-bottom;
  margin-left: 5px;
}

/* DETAILS BOX */


.detailsBox .inner {
  padding: 20px;
  background-color: #2b2b2b;
}

.details-inner{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .details{
     width:50%;
  }

  .details-inner{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.detailsBox .inner h2 {
  padding-top: 0;
  margin: 0;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.detailsBox .inner .week {
  color: #666666;
  border-bottom: 2px solid #333;
}

.details-header {
  display: flex;
  justify-content: space-between;
}

.close-details {
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
}

.btn {
  background: #666666;
  border: 0;
  border-radius: 3px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 500;
  outline: none;
  padding: 10px 9px 10px 11px;
  text-transform: uppercase;
  text-decoration: none;
}

a.btn {
  margin-right: 10px;
}

.btn:hover {
  transform: scale(1.02);
}

.btn:active {
  transform: scale(0.99);
}

.error404 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.nav-link {
  padding: 5px 9px 5px 11px;
  background-color: rgb(102, 194, 121);
  display: inline-block;
  margin-left: 15px;
}

/* SIGN */

.m-signature-pad {
  position: absolute;
  font-size: 10px;
  width: 700px;
  height: 400px;
  top: 50%;
  left: 50%;
  margin-left: -350px;
  margin-top: -200px;
  border: 1px solid #e8e8e8;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.08) inset;
  border-radius: 4px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.m-signature-pad--body {
  position: absolute;
  left: 20px;
  right: 20px;
  top: 60px;
  bottom: 60px;
  border: 1px solid #f4f4f4;
}

.m-signature-pad--body canvas {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.02) inset;
}

.m-signature-pad--header{
  display: flex;
  justify-content: center;
  margin-top:20px;
}

.m-signature-pad--header select{
  font-size:18px;
}


.m-signature-pad--footer {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 20px;
  height: 40px;
}

.m-signature-pad--footer button{
  display: inline-block;
  margin-top:10px;
}

.m-signature-pad--footer .cancel{
  margin-right:20px;
}

.m-signature-pad--footer .save{
  background-color:rgb(102, 194, 121);
}

.m-signature-pad--footer .description {
  color: #c3c3c3;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1.8em;
}

.m-signature-pad--footer{
  display:flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .m-signature-pad {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    min-width: 250px;
    min-height: 140px;
    margin: 5%;
  }
  #github {
    display: none;
  }
}

@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .m-signature-pad {
    margin: 10%;
  }
}

@media screen and (max-height: 320px) {
  .m-signature-pad--body {
    left: 0;
    right: 0;
    top: 0;
    bottom: 32px;
  }
  .m-signature-pad--footer {
    left: 20px;
    right: 20px;
    bottom: 4px;
    height: 28px;
  }
  .m-signature-pad--footer .description {
    font-size: 1em;
    margin-top: 1em;
  }
}

.signature {
  background-color: #2b2b2b;
  height: 100vh;
}


/* Account */
.account-card {

}

.account-card .fields {
  display: flex;
  flex-flow: row wrap;
  padding: 10px !important;
  /*margin-left:5px;*/
  text-align: center;
  /* end account details */
}
.account-card .fields .account-details {
  text-align: left;
  /* http://flexbox.io/#/view/DzAacFWSx0c */
  /* flex-grow, flex-shrink and flex-basis */
  flex: 1 0 250px;
  /* 400px */
  max-width: 100%;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  /*margin:5px;*/
  margin-bottom: 5px;
  margin-left: 5px;
  background-color: #fff;
}
.account-card .fields .account-details label {
  display: inline-block;
  /*flex: 1 0 150px;*/
  text-align: left;
  min-width: 60px;
  margin: 0 8px 0 0;
  padding: 2px 0;
  color:  rgba(0, 0, 0, 0.8);
}
.account-card .fields .account-details p {
  display: inline-block;
  flex: 2 0;
  max-width: 75%;
  margin: 2px;
  color: rgba(0, 0, 0, 0.87059);
}
.account-card .fields .account-details .account-type-details-holder {
  display: flex;
  flex-flow: row wrap;
}
.account-card .fields .account-details .account-type {
  background-color: #ffc400;
  padding: 5px;
  margin-bottom: 5px;
  color: #fff;
}
.account-card .fields .account-details .account-type-details {
  flex: 2 0 auto;
  /* 400px */
  max-width: 100%;
}
.account-card .fields .account-details .account-type-details div label {
  vertical-align: top;
}
.account-card .fields .account-details .child {
  background-color: #651fff;
}
.account-card .fields .account-details .doctor {
  background-color: #00c853;
}
.account-card .fields .account-details .account-type-image {
  flex: 1 0 100px;
  align-self: center;
  text-align: center;
}
.account-card .fields .account-details .account-type-avatar {
  width: 75px !important;
  height: 75px !important;
}
.account-card .fields .account-details fieldset {
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.account-card .fields .account-details legend {
  color: #651fff;
}

@media all and (max-width: 673px) {
  .list-avatar {
    display: none !important;
  }

  .note-text {
    margin-left: 10px !important;
    margin-top:-20px;
  }

  .list-search .list-search-box {
    width: 90% !important;
    margin-left: 20px;
    margin-bottom: 20px;
    display: block;
  }

  .list-search {
    float: none !important;
  }

  .list-details-h2 {
    display: none;
  }

  .dialog-h3 {
    display: none !important;
  }

  .account-card .fields {
    /*
    .account-details{
      flex: 1 0 auto;
    }
    */
  }
  .account-card .fields .account-type-image {
    margin-top: 20px;
  }
  .account-card .fields .account-type-avatar {
    width: 10px;
    height: 10px;
  }
}
