body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h2 {
  color: #4d5353;
  margin-bottom: 5px;
  font-size: 0.9em;
}

/* HEADER */

.header {
  padding: 5px;
  color: #2b2b2b;
  margin: 5px 20px;
}

.header .title {
  display: flex;
  justify-content: space-between;
}

.header h1 {
  font-size: 1.2em;
}

.schools {
  font-size: 1.1em;
}

.locations {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 25px;
}

/* PIE CHART */

.pie-chart .VictoryContainer {
  position: relative;
  top: -10px;
  min-width: 200px;
}

.pie-chart .VictoryContainer svg {
  position: relative;
  top: -10px;
}

/* WEEKS */

.weeks {
  margin: 0 2em;
  min-width: 200px;
  color: #858989;
}

.weeks h2 {
  margin-bottom: 20px;
}

.week {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #ccc;
}

.week a {
  text-decoration: none;
  color: #858989;
}

.week a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 470px) {
  .locations {
    display: flex;
    flex-direction: row;
  }

  .weekly-wrapper {
    flex: 2;
    margin: 0 2em;
  }

  .weeks {
    flex: 2;
    margin: 0 2em;
  }

  .weeks h2 {
    margin-bottom: 50px;
  }
}

/* PEOPLE */

.people {
  background-color: #2b2b2b;
  padding-bottom: 50px;
}

.people h2 {
  color: #fff;
  margin: 20px;
  padding-top: 30px;
}

.people-list {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person {
  position: relative;
  box-sizing: border-box;
  padding: 10px;
  min-width: 300px;
  margin: 5px;
  background-color: #3d3d3d;
  transition: all;
}

.person:hover, .person.active {
  background-color: rgba(61, 61, 61, 0.5);
}

.person .title {
  display: flex;
  justify-content: center;
}

.person .percent {
  color: #66c279;
  font-size: 0.9em;
}

.person .name {
  flex: 4;
  color: #b4b4b4;
  margin-bottom: 10px;
  font-weight: 200;
}

.person .count {
  color: #ccc;
  display: flex;
  justify-content: flex-end;
}

.person .stats {
  display: flex;
  justify-content: space-around;
}

.present {
  color: #66c279;
  margin-right: 5px;
}

.absent {
  color: yellow;
  margin-right: 5px;
}

.disabled {
  opacity: 0.2;
  color: #3d3d3d;
}

/* LOADER */

.loader {
  height: 40px;
  padding: 10px;
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  font-size: 1.5em;
}

.loader:before {
  display: block;
  position: absolute;
  content: "loading";
  left: -200px;
  color: rgb(204, 204, 204);
  width: 200px;
  height: 4px;
  background-color: rgb(204, 204, 204);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {
    content: ".";
    left: -100px;
    width: 30%;
  }
  50% {
    content: "..";
    width: 30%;
  }
  70% {
    content: "...";
    width: 70%;
  }
  80% {
    content: "....";
    left: 50%;
  }
  95% {
    content: ".....";
    left: 120%;
  }
  to {
    content: ".....";

    left: 100%;
  }
}

/* DETAILS BOX */
.detailsBox {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  background-color: #2b2b2b;
}

.main-nav {
  display: flex;
}

.check {
  margin-right: 20px;
  filter: grayscale(100%);
  transition: all 0.2s ease-in-out;
}

.check:hover {
  filter: grayscale(70%);
  transform: scale(1.05);
}

.gear{
  transition: all 0.2s ease-in-out;
}

.gear:hover {
  transform: scale(1.05);
}

.check:active {
  transform: scale(1.5);
}

.check.checked {
  filter: none;
}

.attendance-person {
  display: flex;
}

.attendance-person .name {
  margin-top: 10px;
}


/*--------------------------------------------*
 * POPPER
 *--------------------------------------------*/

 .popper {
  background: #222;
  color: white;
  width: 150px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  padding: 5px;
  z-index: 999;
}

.popper .popper__arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
}

/*--------------------------------------------*
 * TOP
 *--------------------------------------------*/

.popper[data-placement^="top"] {
  margin-bottom: 5px;
}

.popper[data-placement^="top"] .popper__arrow {
  border-width: 5px 5px 0 5px;
  border-color: #222 transparent transparent transparent;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

/*--------------------------------------------*
 * BOTTOM
 *--------------------------------------------*/

.popper[data-placement^="bottom"] {
  margin-top: 5px;
}

.popper[data-placement^="bottom"] .popper__arrow {
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #222 transparent;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

/*--------------------------------------------*
 * RIGHT
 *--------------------------------------------*/

.popper[data-placement^="right"] {
  margin-left: 5px;
}

.popper[data-placement^="right"] .popper__arrow {
  border-width: 5px 5px 5px 0;
  border-color: transparent #222 transparent transparent;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

/*--------------------------------------------*
 * LEFT
 *--------------------------------------------*/

.popper[data-placement^="left"] {
  margin-right: 5px;
}

.popper[data-placement^="left"] .popper__arrow {
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #222;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}


.menu{
  padding:10px;
}

.menu div{
  margin-bottom:10px;
}

.menu a{
  color:#efefef;
  text-decoration: none;

}

.__overlay {
  background-color: black;
  opacity: 0.2;
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 900;
  display: block;
}
